Package: moe.misty.bilidownload
Name: BiliDownload
Depends: mobilesubstrate
Version: 0.0.2
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: misty
Author: misty
Section: Tweaks
